<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 80vh; padding: 120px 20px 100px 20px"
>
  <form [formGroup]="form" class="align-self-center">
    <div class="mb-3">
      <label for="exampleInputTodo1" class="form-label">To-Do:</label>
      <input
        type="todo"
        class="form-control"
        id="exampleInputTodo1"
        aria-describedby="todoHelp"
        formControlName="todo"
      />
      <div id="todoHelp" class="form-text">
        Hier kannst du deine Aufgabe eintragen.
      </div>
    </div>

    <div class="mb-3">
      <label for="datepicker" class="form-label">Zieldatum:</label>
      <input
        type="datetime-local"
        name="datepicker"
        class="form-control"
        id="datepicker"
        formControlName="completionDate"
      />
    </div>

    <div class="mb-3 position-relative">
      <label for="exampleInputSubpoint1" class="form-label"
        >Unterpunkte (optional):</label
      >
      <div class="input-group mb-4">
        <input
          type="text"
          class="form-control"
          placeholder=""
          id="exampleInputSubpoint1"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
          formControlName="subpoint"
        />
        <button
          class="btn btn-outline-secondary bi-clipboard2-plus"
          type="button"
          id="button-addon1"
          (click)="addSubPoint()"
        ></button>
      </div>
      <div *ngFor="let subpoint of subPoints">
        <div *ngIf="subpoint != undefined">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{ subpoint }}

              <button
                type="button"
                class="btn btn-outline-danger btn-sm bi bi-trash ms-3"
                (click)="deleteSubpoint(subpoint)"
              ></button>
            </li>
          </ul>
        </div>
      </div>
      <app-notification
        class="position-absolute"
        style="top: 75px; left: 0"
      ></app-notification>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-secondary mt-5">
      Erstellen
    </button>
    <button type="button" (click)="onClear()" class="btn btn-danger mt-5 ms-3">
      Leeren
    </button>
  </form>
</div>
