<div
  class="d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <form [formGroup]="form" (click)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputTodo1" class="form-label">Erledigung</label>
      <input
        type="todo"
        class="form-control"
        id="exampleInputTodo1"
        aria-describedby="todoHelp"
        formControlName="todo"
      />
      <div id="todoHelp" class="form-text">
        Hier kannst du deine Erledigung eintragen.
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputSubpoint1" class="form-label">Unterpunkte</label>
      <div class="input-group mb-3">
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon1"
          (click)="addSubPoint()"
        >
          +
        </button>
        <!-- Neue Logik für Unterpunkte einfügen mit separatem object welches sich beim Klick erweitert -->
        <input
          type="text"
          class="form-control"
          placeholder=""
          id="exampleInputSubpoint1"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
          formControlName="subpoint"
        />
      </div>
      <div *ngFor="let subpoint of subPoints">
        <!-- <div id="subPointHelp" class="form-text">
          Für größere Projekte kannst du <br />
          hier Unterpunkte erstellen.
        </div> -->
        <div *ngIf="subpoint != undefined">
          <ul class="list-group">
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value=""
                aria-label="..."
              />
              {{ subpoint }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-secondary mt-4">Erstellen</button>
  </form>
</div>
