ngx-rt {
  font-family: "Inter", sans-serif;

  h3.text-center {
    color: green !important;
  }

  .periods {
    background-color: #282c34 !important;
    height: 40px !important;
    color: white !important;
    font-size: 0.875rem !important;
    font-weight: bold !important;
  }

  .item-1 {
    border-radius: 6px !important;
    background-color: #00bcd4 !important;
    color: black !important;
    font-size: 0.875rem;
    padding: 2px 6px;
    transition: transform 0.2s ease !important;
  }

  .item-1:hover {
    transform: scale(1.05);
    background-color: #008fa1;
  }

  .rt-section {
    background-color: #f8f8f8;
  }

  .cdk-drop-list {
    /* background-color: #ececec; */
  }
  .ngx-rt-timeline {
    /* background-color: #f9f9f9; */
    border: 1px solid #ddd;
  }
}
