ngx-rt {
  font-family: "Inter", sans-serif;

  * {
    --color-bg: #adb5bd;
    --color-btn: #6c757d;

    --color-font-primary: #d3d8dd;
    --color-font-secondary: #ffffff;

    /* Prioritization colors */
    --color-task-priority-not-assigned: #9e9e9e;
    --color-hover-task-priority-not-assigned: #7e7e7e;

    --color-task-priority-lowest: #a3e7ef;
    --color-hover-task-priority-lowest: #8fd2da;

    --color-task-priority-low: #a8e6a1;
    --color-hover-task-priority-low: #93d78c;

    --color-task-priority-medium: #ffe08a;
    --color-hover-task-priority-medium: #ffd25e;

    --color-task-priority-high: #f6a1a1;
    --color-hover-task-priority-high: #e98888;

    --color-task-priority-critical: #e98888;
    --color-hover-task-priority-critical: #d96b6b;
  }

  .time-sch-wrapper {
    height: 90% !important;
    border-radius: 6px;
  }

  .time-sch-header-wrapper {
    width: 100% !important;
    background-color: black !important;
    padding: 0px 5px !important;
    border-radius: 6px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 10px !important;
  }

  .time-sch-time-container {
    order: 3;
  }

  @media (max-width: 680px) {
    .time-sch-time-container {
      order: 2;
    }

    .time-sch-time-container button:nth-of-type(1) {
      display: none !important;
    }

    h3.text-center {
      order: 3;
    }

    .periods {
      order: 1;
    }

    .time-sch-header-wrapper {
      display: inline-block !important;
    }
  }

  .time-sch-content-wrap {
    overflow: hidden !important;
  }

  h3.text-center {
    color: var(--color-font-primary) !important;
    order: 2;
  }

  .periods {
    order: 1;
  }

  .btn {
    background-color: var(--color-btn) !important;
    height: 40px !important;
    color: var(--color-font-secondary) !important;
    font-size: 0.875rem !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    border: none !important;
  }

  .btn:hover {
    background-color: #5c636a !important;
  }

  .active-period {
    background: green !important;
  }

  .active-period:hover {
    background: rgb(0, 105, 0) !important;
  }

  td.text-center {
    background-color: var(--color-bg) !important;
    border-radius: 6px;
    border-right: none !important;
  }

  td.time-sch-section {
    width: 20% !important;
    /* background-color: var(--color-task-priority-lowest) !important; */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    border-left: none !important;
    border-right: none !important;
  }

  .time-sch-content-wrap tr:nth-of-type(1) .time-sch-section {
    background: var(--color-task-priority-not-assigned) !important;
  }
  .time-sch-table > tr:nth-of-type(2) .time-sch-section {
    background: var(--color-task-priority-lowest) !important;
  }
  .time-sch-table > tr:nth-of-type(3) .time-sch-section {
    background: var(--color-task-priority-low) !important;
  }
  .time-sch-table > tr:nth-of-type(4) .time-sch-section {
    background: var(--color-task-priority-medium) !important;
  }
  .time-sch-table > tr:nth-of-type(5) .time-sch-section {
    background: var(--color-task-priority-high) !important;
  }
  .time-sch-table > tr:nth-of-type(6) .time-sch-section {
    background: var(--color-task-priority-critical) !important;
  }

  .time-sch-current-time {
    background-color: rgb(245, 61, 61) !important;
  }

  .item-1 {
    border-radius: 6px !important;
    font-size: 0.875rem;
    padding: 2px 6px;
    transition: transform 0.2s ease !important;
  }

  .item-1:hover {
    transform: scale(1.05);
  }

  div.time-sch-section-container {
    overflow: visible !important;
  }

  .category-1 {
    background-color: var(--color-task-priority-not-assigned) !important;
  }
  .category-1:hover {
    background-color: var(--color-hover-task-priority-not-assigned) !important;
  }
  .category-2 {
    background-color: var(--color-task-priority-lowest) !important;
  }
  .category-2:hover {
    background-color: var(--color-hover-task-priority-lowest) !important;
  }
  .category-3 {
    background-color: var(--color-task-priority-low) !important;
  }
  .category-3:hover {
    background-color: var(--color-hover-task-priority-low) !important;
  }
  .category-4 {
    background-color: var(--color-task-priority-medium) !important;
  }
  .category-4:hover {
    background-color: var(--color-hover-task-priority-medium) !important;
  }
  .category-5 {
    background-color: var(--color-task-priority-high) !important;
  }
  .category-5:hover {
    background-color: var(--color-hover-task-priority-high) !important;
  }
  .category-6 {
    background-color: var(--color-task-priority-critical) !important;
  }
  .category-6:hover {
    background-color: var(--color-hover-task-priority-critical) !important;
  }

  /* .cdk-drop-list {
    background-color: #ececec;
  } */
}
