<div class="to-do-lists mb-2 ms-2 me-2">
  <div
    class="accordion accordion-flush"
    id="accordionFlushExample"
    *ngIf="toDoList.length > 0; else noToDoList"
  >
    <div
      class="accordion-item"
      *ngFor="let list of toDoList; let i = index"
      @list
    >
      <div *ngIf="list">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#item-' + i"
            aria-expanded="false"
            [attr.aria-controls]="'item-' + i"
          >
            <strong class="col">{{ list.name }}</strong>
            <span class="ms-2 me-2 col">
              <span
                class="badge"
                [ngClass]="list.completionDate | shareDate : 'deadline'"
              >
                <span class="bi bi-calendar-check"></span>
                {{ list.completionDate | shareDate }}
              </span>
            </span>
          </button>
        </h2>
        <div
          [id]="'item-' + i"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="col-12 d-flex justify-content-end position-relative">
              <div
                [formGroup]="form"
                class="input-group input-group-sm mb-3"
                style="width: 400px"
              >
                <input
                  type="text"
                  class="form-control"
                  formControlName="subEntry"
                  placeholder="Gib hier deinen neuen Unterpunkt ein!"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-outline-secondary bi-clipboard2-plus"
                  type="button"
                  id="button-addon2"
                  (click)="onSubmit(list)"
                ></button>
              </div>
              <app-notification
                class="position-absolute"
                style="right: 85px; top: 40px"
              ></app-notification>
            </div>
            <span class="col-3 float-end d-flex justify-content-end">
              <button
                type="button"
                [id]="list.creationDate"
                class="btn btn-outline-warning btn-sm bi bi-gear me-2"
                (click)="onEdit(list)"
              ></button>
              <button
                type="button"
                [id]="list.creationDate"
                class="btn btn-outline-danger btn-sm bi bi-trash"
                (click)="onDelete(list)"
              ></button>
            </span>
            <div class="col mb-4">
              <div *ngIf="list.sublist; else noSublist">
                <h5 class="mb-3 mt-2">Unterpunkte</h5>
                <div *ngFor="let entry of list.sublist" @list>
                  <p class="card-text ms-2 mb-1 d-flex">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      aria-label="..."
                    />
                    <span class="me-1">{{ entry }}</span>
                  </p>
                </div>
              </div>
              <ng-template #noSublist>
                <h5>Keine Einträge gefunden!</h5>
              </ng-template>
            </div>
            <div class="col-12 d-flex justify-content-start border-top">
              <p class="ms-2 me-2 mb-0 mt-2">
                <span class="bi bi-calendar-plus"></span>
                {{ list.creationDate | shareDate : "long" }}
              </p>
              <p class="ms-2 me-2 mb-0 mt-2">
                <span class="bi bi-calendar-check"></span>
                {{ list.completionDate | shareDate : "long" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noToDoList>
    <div
      class="d-flex justify-content-center align-items-center"
      style="height: 90vh; width: 97vw"
    >
      <span class="text-center">
        <h2>Noch kein To Do erstellt!</h2>
        <p>Klick den Button unten um deinen ersten Eintrag zu erstellen!</p>
        <button class="btn btn-outline-secondary" routerLink="/create">
          Klicke hier zum erstellen!
        </button>
      </span>
    </div>
  </ng-template>
</div>
