<!-- <h2 class="display-5 m-3">Deine to Do's</h2> -->

<div class="to-do-lists mb-2 ms-2 me-2">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" *ngFor="let list of toDoList; let i = index">
      <div *ngIf="list">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#item-' + i"
            aria-expanded="false"
            [attr.aria-controls]="'item-' + i"
          >
            <strong class="col">{{ list.name }}</strong>
            <span class="ms-2 me-2 col">
              <!-- Publik dateService ändern und get dafür setzen -->
              <span class="badge bg-secondary">
                <span class="bi bi-calendar-check"></span>
                <span></span>
                {{ list.completionDate | convertDate }}
              </span>
            </span>
          </button>
        </h2>
        <div
          [id]="'item-' + i"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="col-12 d-flex justify-content-end position-relative">
              <div
                [formGroup]="form"
                (click)="onSubmit(list)"
                class="input-group input-group-sm mb-3 me-2"
                style="width: 400px"
              >
                <input
                  type="text"
                  class="form-control"
                  formControlName="subEntry"
                  placeholder="Gib hier deinen neuen Unterpunkt ein!"
                  aria-label="Recipient's username"
                  aria-describedby="button-addon2"
                />
                <button
                  class="btn btn-outline-secondary bi-clipboard2-plus"
                  type="submit"
                  id="button-addon2"
                ></button>
              </div>
              <app-notification
                class="position-absolute"
                style="right: 85px; top: 40px"
              ></app-notification>
            </div>
            <span class="col-3 float-end d-flex justify-content-end me-2">
              <button
                type="button"
                [id]="list.creationDate"
                class="btn btn-outline-warning btn-sm bi bi-gear me-2"
                (click)="onEdit(list)"
              ></button>
              <button
                type="button"
                [id]="list.creationDate"
                class="btn btn-outline-danger btn-sm bi bi-trash"
                (click)="onDelete(list)"
              ></button>
            </span>
            <div class="col ms-2 mb-4">
              <div *ngIf="list.sublist; else noSublist">
                <h5 class="mb-3 mt-2">Unterpunkte</h5>
                <div *ngFor="let entry of list.sublist">
                  <p class="card-text mb-1">
                    <input
                      class="form-check-input ms-3 me-1"
                      type="checkbox"
                      value=""
                      aria-label="..."
                    />{{ entry }}
                  </p>
                </div>
              </div>
              <ng-template #noSublist>
                <h5>Keine Einträge gefunden!</h5>
              </ng-template>
            </div>
            <div class="col-12 d-flex justify-content-start border-top">
              <p class="ms-2 me-2 mb-0 mt-2">
                <!-- schauen wie hier der Date Service implementiert werden kann -->
                <span class="bi bi-calendar-plus"></span>
                {{ list.creationDate | convertDate : "long" }}
              </p>
              <p class="ms-2 me-2 mb-0 mt-2">
                <span class="bi bi-calendar-check"></span>
                {{ list.completionDate | convertDate : "long" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
