<h2 class="display-5 m-3">Deine to Do's</h2>

<div class="to-do-lists mb-2 ms-2" *ngFor="let list of listObject">
  <div *ngIf="list">
    <!-- Einzelnes Kartentemplate -->
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a
              class="nav-link tab-links"
              [class.active]="activeTab === 'active'"
              (click)="activeTab = 'active'"
              >To Do</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link tab-links"
              [class.active]="activeTab === 'plus'"
              (click)="activeTab = 'plus'"
              >Plus</a
            >
          </li>
          <div *ngIf="sublist">
            <li class="nav-item">
              <a class="nav-link tab-links" tabindex="-1" aria-disabled="true"
                >Disabled</a
              >
            </li>
          </div>
        </ul>
      </div>
      <div class="card-body">
        <div *ngIf="activeTab === 'active'">
          <h5 class="card-title">{{ list.name }}</h5>
          <p class="card-text">
            <li *ngIf="list.note"><b>Notiz: </b>{{ list.note }}</li>
            <li *ngIf="list.completitionDate">
              <b>Fällig am: </b> {{ list.completitionDate }}
            </li>
            <li><b>Erstellungsdatum: </b> {{ list.creationDate }}</li>
          </p>
          <a class="btn btn-outline-danger me-2">Löschen</a>
          <a class="btn btn-outline-success me-2">Erledigt</a>
          <a class="btn btn-outline-primary">Bearbeiten</a>
        </div>
        <div *ngIf="activeTab === 'plus'">
          <div *ngIf="list.sublist; else noSublist">
            <h5 class="card-title">Unterpunkte</h5>

            <div *ngFor="let entry of list.sublist">
              <p class="card-text mb-1">
                {{ entry }}
              </p>
            </div>
          </div>
          <ng-template #noSublist>
            <h5>Keine Einträge gefunden!</h5>
          </ng-template>

          <div
            [formGroup]="form"
            (click)="onSubmit(list)"
            class="input-group input-group-sm mb-3"
          >
            <input
              type="text"
              class="form-control"
              formControlName="subEntry"
              placeholder="Gib hier deinen Unterpunkt ein!"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="button-addon2"
            >
              Hinzufügen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
